

.button__white-outlined{
  border-radius: rem(8);
  border: 1px solid #000;
  padding: rem(10) rem(40);
  font-family: $base-ff;
  font-size: rem(20);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}