


.demo{
  width: 100%;
  height: rem(1062);

  img{
    width: 100%;
    height: 100%;
  }
}

.piramida{
  width: 100%;
  height: rem(973);

  img{
    width: 100%;
    height: 100%;
  }
}

.three{
  width: 100%;
  height: rem(973);

  img{
    width: 100%;
    height: 100%;
  }
}

.table{
  width: 100%;
  height: rem(1008);

  img{
    width: 100%;
    height: 100%;
  }
}

.message{
  position: relative;
  top: rem(-30);
  width: 100%;
  height: rem(554);

  img{
    width: 100%;
    height: 100%;
  }
}

.faq{
  position: relative;
  top: rem(-57);
  width: 100%;
  height: rem(1048);

  img{
    width: 100%;
    height: 100%;
  }
}

.phone{
  width: rem(1972);
  height: rem(734);
  position: relative;
  left: rem(-30);

  img{
    width: 100%;
    height: 100%;
  }
}


footer{
  position: relative;
  width: 100%;
  height: rem(390);
  z-index: 10;
  top: rem(-125);

  img{
    width: 100%;
    height: 100%;
  }
}



