.faq{
  padding-top: rem(78);
  padding-bottom: rem(148);
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    font-family: $second-ff;
    font-size: rem(44);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: rem(40);
  }

  &_accordions{
    display: flex;
    flex-direction: column;
    gap: rem(12);
    width: 100%;
    max-width: rem(954);
  }

  &_accordion{
    width: 100%;
    height: max-content;
    border-radius: rem(16);
    background: #fff;
    transition: all 0.3s ease;

    &--open {
      background: #004DFF;

      .faq_accordion-question {
        color: white;
      }

      .faq_accordion-question span {
        color: white;
      }
    }

    &-question{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(25) rem(32) rem(25) rem(32);
      font-size: rem(20);
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;

      span {
        color: #000; /* Черный цвет текста по умолчанию */
        transition: color 0.3s ease;
        font-weight: 600;
      }

      svg{
        width: rem(14);
        height: rem(7);
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &-answer{
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.4s ease, opacity 0.3s ease;
    }

    &--open &-answer {
      max-height: rem(500); /* Достаточно для контента */
      opacity: 1;
    }

    &-text{
      padding: 0 rem(32) rem(25) rem(32);
      font-size: rem(18);
      //line-height: 1.5;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.9); /* Белый цвет для текста в открытом состоянии */
    }

    &--open &-text {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}