.message {
  width: 100%;
  background: #fff;
  padding: rem(115) 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    font-family: $second-ff;
    font-size: rem(44);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  p{
    margin-top: rem(22);
    margin-bottom: rem(52);
    font-family: $third-ff;
    font-size: rem(20);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}