
.phone {
  background: #fff;
  box-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.10);
  padding: rem(154) rem(240);
  position: relative;

  &_blue{
    position: absolute;
    top: rem(227);
    right: rem(495);
    border-radius: rem(606);
    opacity: 0.5;
    background: var(--Blue, #004DFF);
    filter: blur(125px);
    width: rem(606);
    height: rem(141);
  }

  &_text{
    h2{
      font-family: $second-ff;
      font-size: rem(44);
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }

    p{
      margin-top: rem(22);
      font-family: $third-ff;
      font-size: rem(20);
      max-width: rem(494);
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: rem(52);
    }
  }

  &_phone{
    width: rem(374);
    height: rem(766);
    aspect-ratio: 187/383;
    position: absolute;
    right: rem(601);
    top: rem(-48);
    z-index: 1;
  }

  &_heart{
    width: rem(130.9);
    height: rem(114.835);
    transform: rotate(11.301deg);
    aspect-ratio: 130.90/114.83;
    position: absolute;
    right: rem(914.52);
    top: rem(188.68);
    z-index: 3;
  }

  &_star{
    width: rem(104.993);
    height: rem(97.442);
    transform: rotate(-5.052deg);
    aspect-ratio: 104.99/97.44;
    position: absolute;
    left: rem(728);
    bottom: rem(50.33);
  }

  &_finger{
    width: rem(168);
    height: rem(190);
    transform: rotate(-10.903deg);
    aspect-ratio: 79/95;
    position: absolute;
    top: rem(-64.47);
    left: rem(655.48);
  }

  &_out{
    width: rem(391);
    height: rem(116);
    border-radius: rem(16);
    background: var(--Blue, #004DFF);
    box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.10);
    padding: rem(30) rem(32);
    color: $white;
    font-family: $third-ff;
    font-size: rem(20);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    position: absolute;
    top: rem(141);
    right: rem(265);
    z-index: 2;
  }

  &_from{
    width: rem(391);
    height: rem(144);
    border-radius: rem(16);
    background: #F7F8FA;
    padding: rem(30) rem(32);
    box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.10);
    position: absolute;
    bottom: rem(114);
    right: rem(358);
    z-index: 2;
  }

}