

.table{
  padding-top: rem(110);
  padding-bottom: rem(32);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  h2{
    font-family: $second-ff;
    font-size: rem(44);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
  }

  p{
    margin-top: rem(22);
    font-family: $third-ff;
    font-size: rem(20);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}