
.three {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: end;
  position: relative;
  padding-top:rem(187);

  &_text{
    position: relative;
    z-index: 10;
    border-radius: rem(16) 0 0 rem(16);
    background: linear-gradient(44deg, rgba(0, 77, 255, 0.80) 42.7%, rgba(180, 202, 255, 0.80) 136.95%);
    width: rem(828);
    height: rem(853);
    color: #fff;
    box-shadow: rem(5) rem(5) rem(12) 0 rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(25px);
    padding: rem(165) rem(94) rem(165) rem(240);
    display: flex;
    flex-direction: column;
    font-family: $third-ff;
    justify-content: space-between;



    &-block{
      display: flex;
      flex-direction: column;
      gap: rem(32);

      h2{
        font-family: $second-ff;
        font-size: rem(44);
        font-weight: 400;
        letter-spacing: rem(-1.76);
      }

      p{
        color: var(--White, #FFF);
        font-family: $third-ff;
        font-size: rem(20);
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }
    }

    button{
      background: #fff;
      border-radius: rem(8);
      padding: rem(20);
      color: $blue;
      font-family: $third-ff;
      font-size: rem(20);
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 20px */
      letter-spacing: rem(-0.6);
      text-transform: uppercase;
    }
  }

  &_image{
    z-index: 1;
    position: absolute;
    top: rem(184);
    left: rem(142);
    width: rem(904);
    height: rem(904);
  }

  img{
    width: 100%;
    height: 100%;
  }
}