

.button_blue{
  border-radius: rem(8);
  background: $blue;
  padding: rem(10) rem(40);
  color: #FFF;
  font-family: $base-ff;
  font-size: rem(20);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: max-content;
}