@import "./function/function";
@import "./vars/colors/index";
@import "./vars/index";
@import "./vars/global/index";
@import "components/index";
@import "./pages/home/index";
@import "./pages/auth/index";
@import "./pages/registration/index";
@import "./pages/creating/index";
@import "./pages/regestry_mailing/index";
@import "./pages/welcome/index";
@import "./pages/profile/index";
@import "./pages/session/index";
@import "./pages/demo/index";
@import "./pages/fa/index";
@import "./pages/models/index";