

header{
  position: fixed;
  top: rem(30);
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 9999;


  .header{
    background: #FFFFFF;
    //background: $white_blured;
    box-shadow: 0 -2px 3px 0 #EDEDED inset;
    backdrop-filter: blur(10px);
    display: flex;
    gap: rem(132);
    border-radius: rem(16);
    padding: rem(10) rem(28);
    width: max-content;
    align-items: center;

    &__logo{
      display: flex;
      align-items: center;

      &-image{
        width: rem(217);
        height: rem(22);
      }
    }

    &__list{
      display: flex;
      gap: rem(60);

      li{
        font-size: rem(20);
        font-weight: 400;
        transition: all 0.4s ease-in-out;

        a{
          color: #000000FF;

        }
        &:hover{
          opacity: 0.5;

        }
      }
    }

    &__buttons{
      display: flex;
      gap: rem(28);
    }
  }
}

.header-auth{
    display: flex;
    padding: rem(20) rem(48);
    flex-direction: column;
    align-items: flex-start;
    gap: rem(1);
    background: #f7f8fa;
    box-sizing: border-box;
    top: 0;
    border-bottom: rem(1) solid #C7C7C7;

    .container{
      display: flex;
      align-items: center;
      gap: rem(22);
      align-self: stretch;
      justify-content: space-between;

      .logo{
        width: rem(193);
        height: rem(18);
      }

      .buttons{

        .button_element{

          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: rem(22);
          align-self: stretch;

          svg{
            width: rem(42);
            height: rem(42);
          }
        }
      }


    }





}