.sessions_main{
  display: flex;
  justify-content: center;
  padding-top: rem(96);
  align-items: start;
  padding-left: rem(20);
  padding-right: rem(20);
  gap: rem(20);

  .sessions_left_part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;

    .sessions_menu{
      display: flex;
      width: rem(262);
      padding: rem(10);
      flex-direction: column;
      align-items: flex-start;
      gap: rem(02);
      border-radius: rem(16);
      background: #FFF;

      .menu_models{
        display: flex;
        padding: rem(15);
        align-items: center;
        gap: rem(21);
        align-self: stretch;
        border-radius: rem(08);
        color: #000;
        font-family: $base-ff;
        font-size: rem(20);
        font-style: normal;
        font-weight: 300;
        line-height: 120%; /* 24px */
        letter-spacing: rem(-0.6);
      }

      .menu_sessions{
        display: flex;
        padding: rem(15);
        align-items: center;
        gap: rem(18);
        align-self: stretch;
        border-radius: rem(8);
        background: #D9E5FF;
        color: #000;
        font-family: $base-ff;
        font-size: rem(20);
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: rem(-0.6);

      }

      .menu_accounts{
        display: flex;
        padding: rem(15);
        align-items: center;
        gap: rem(19);
        align-self: stretch;
        border-radius: rem(8);
        color: #000;
        font-family: $base-ff;
        font-size: rem(20);
        font-style: normal;
        font-weight: 300;
        line-height: 120%; /* 24px */
        letter-spacing: rem(-0.6);
      }
    }

    .support_div{
      .support{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(16);

        .support_title{
          color: #000;
          text-align: center;
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 19.2px */
        }

        .support_tg_div{
          gap: rem(08);
          display: flex;
          //justify-content: space-between;

          .support_tg_img{
          }

          .support_tg{
            color: #000;
            text-align: center;
            font-family: $base-ff;
            font-size: rem(18);
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 21.6px */
            letter-spacing: rem(-0.54);
          }
        }
      }
    }
  }

  .sessions_right_part{
    padding-top: rem(14);

    .profit_chart_div{


      .profit_chart{
        display: flex;
        justify-content: space-between;

        .profit_chart_titlle{
          color: #000;
          font-family: $base-ff;
          font-size: rem(24);
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 28.8px */
        }

        .drop_downs_chart{
          display: flex;
          gap: rem(10);

          .drop_downs_month{
            display: flex;
            padding: rem(04) rem(10);
            justify-content: center;
            align-items: center;
            gap: rem(10);
            border-radius: rem(18);
            background: #FFF;
            color: #000;
            font-family: $base-ff;
            font-size: rem(16);
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 19.2px */
            letter-spacing: rem(-0.48);
          }

          .drop_downs_data{
            display: flex;
            padding: rem(04) rem(10);
            justify-content: center;
            align-items: center;
            gap: rem(10);
            border-radius: rem(18);
            background: var(--2, linear-gradient(86deg, #004DFF 21.33%, #A3BFFF 149.74%));
            color: #FFF;
            font-family: $base-ff;
            font-size: rem(16);
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 19.2px */
            letter-spacing: rem(-0.48);
          }
        }


      }

      .container_profit_chart{
        padding-top: rem(22);
        display: flex;
        justify-content: space-between;
        gap: rem(10);


        .profit_chart_data{
          width: rem(216);
          height: rem(232);
          border-radius: rem(16);
          background: #FFF;
          display: flex;
          flex-direction: column;
          gap: rem(24);
          padding-top: rem(22);
          padding-left: rem(22);


          .total_profit{
            display: flex;
            flex-direction: column;
            gap: rem(06);


            .total_profit_title{
              color: #727272;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 300;
              line-height: 120%; /* 19.2px */
              letter-spacing: rem(-0.48);
            }

            .total_profit_value{
              color: #22C402;
              font-family: $base-ff;
              font-size: rem(24);
              font-style: normal;
              font-weight: 600;
              line-height: 120%; /* 28.8px */
              letter-spacing: rem(-0.72);
            }
          }

          .average_profit_div{
            display: flex;
            flex-direction: column;
            gap: rem(10);

            .average_profit{
              display: flex;
              flex-direction: column;
              gap: rem(06);

              .average_profit_title{
                color: #727272;
                font-family: $base-ff;
                font-size: rem(14);
                font-style: normal;
                font-weight: 300;
                line-height: 120%; /* 16.8px */
                letter-spacing: rem(-0.42);
              }

              .average_profit_value{
                color: #000;
                font-family: $base-ff;
                font-size: rem(18);
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 21.6px */
                letter-spacing: rem(-0.54);
              }
            }
          }
        }

        .chart_sessions{
          height: rem(232);
          width: rem(890);
          border-radius: rem(16);
          background: #FFF;
        }
      }
    }

    .sessions_div{
      padding-top: rem(32);

      .sessions_title{
        color: #000;
        font-family: $base-ff;
        font-size: rem(24);
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 28.8px */
        padding-bottom: rem(22);
      }

      .sessions_head{
        display: flex;
        width: rem(1114);
        padding: rem(14) rem(32);
        justify-content: space-between;
        align-items: flex-start;
        border-radius: rem(16);
        background: var(--Linear, linear-gradient(86deg, #004DFF 21.33%, #A3BFFF 149.74%));

        .sessions_head_right_part{
          color: #FFF;
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 19.2px */
          letter-spacing: rem(-0.48);
        }

        .sessions_head_left_part{
          display: flex;
          width: rem(595);
          align-items: flex-start;
          gap: rem(56);

          color: #FFF;
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 19.2px */
          letter-spacing: rem(-0.48);
        }
      }

      .sessions_list{

        .session_element{
          padding: rem(22) rem(26) 0 rem(32);

          .session_and_model{
            padding-bottom: rem(22);
            border-bottom: rem(0.5) #C7C7C7 solid;

            .session_number{
              color: #000;
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 19.2px */
              letter-spacing: rem(-0.48);
              padding-bottom: rem(07);
            }

            .session_data{
              display: flex;
              flex-direction: row;
              align-items: center;
              padding-bottom: rem(10);


              .session_name{
                color: #000;
                font-family: $base-ff;
                font-size: rem(18);
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 21.6px */
                letter-spacing: rem(-0.54);
                width: rem(419);
                margin-right: rem(36);
              }

              .session_data_element{
                display: flex;
                flex-direction: row;
                align-items: center;



                .session_profit{
                  color: #22C402;
                  font-family: $base-ff;
                  font-size: rem(24);
                  font-style: normal;
                  font-weight: 600;
                  line-height: 120%; /* 28.8px */
                  letter-spacing: rem(-0.72);
                  margin-right: rem(55);
                }

                .session_transaction_time{
                  color: #000;
                  font-family: $base-ff;
                  font-size: rem(18);
                  font-style: normal;
                  font-weight: 400;
                  line-height: 120%; /* 21.6px */
                  letter-spacing: rem(-0.54);
                  width: rem(127);
                  margin-right: rem(42);
                }

                .session_win_rate{
                  color: #000;
                  font-family: $base-ff;
                  font-size: rem(18);
                  font-style: normal;
                  font-weight: 400;
                  line-height: 120%; /* 21.6px */
                  letter-spacing: rem(-0.54);
                  margin-right: rem(79);
                }

                .session_unit_percent{
                  margin-right: rem(62);
                  color: #000;
                  font-family: $base-ff;
                  font-size: rem(18);
                  font-style: normal;
                  font-weight: 400;
                  line-height: 120%; /* 21.6px */
                  letter-spacing: rem(-0.54);
                }

                .session_beginning{
                  color: #000;
                  font-family: $base-ff;
                  font-size: rem(18);
                  font-style: normal;
                  font-weight: 400;
                  line-height: 120%; /* 21.6px */
                  letter-spacing: rem(-0.54);
                }
              }
            }

            .session_buttons{
              display: flex;
              justify-content: space-between;
              padding-right: rem(39);

              .session_and{
                color: #C80000;
                font-family: $base-ff;
                font-size: rem(16);
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 19.2px */
                letter-spacing: rem(-0.48);
              }

              .session_more{
                color: #000;
                font-family: $base-ff;
                font-size: rem(16);
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 19.2px */
                letter-spacing: rem(-0.48);
              }
            }

            .session_completed_div{
              display: flex;
              justify-content: space-between;
              padding-right: rem(39);

              .session_completed{
                color: #6E6E6E;
                font-family: $base-ff;
                font-size: rem(16);
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 19.2px */
                letter-spacing: rem(-0.48);
              }

              .session_completed_time{
                color: #000;
                font-family: $base-ff;
                font-size: rem(18);
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 21.6px */
                letter-spacing: rem(-0.54);
              }
            }
          }
        }
      }
    }
  }
}