.registration{
  padding-top: rem(78);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - rem(78));

  .container_registration{
    display: flex;
    width: rem(400);
    padding: rem(22);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(22);
    border-radius: rem(16);
    background: #FFF;

    p{
      color: #000;
      text-align: center;
      font-family: $base-ff;
      font-size: rem(20);
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 24px */
      align-self: stretch;
    }

    .email{
      display: flex;
      padding: rem(15) rem(22) rem(14) rem(22);
      align-items: center;
      gap: rem(10);
      align-self: stretch;
      border-radius: rem(8);
      background: #F7F8FA;
      color: #737373;
      font-family: $base-ff;
      font-size: rem(14);
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 16.8px */
      letter-spacing: rem(-0.42);
    }

    .password_div{
      display: flex;
      justify-content: space-between;
      padding: rem(15) rem(22) rem(14) rem(22);
      align-items: center;
      align-self: stretch;
      border-radius: rem(8);
      background: #F7F8FA;


      .password{

        background: #F7F8FA;
        color: #737373;
        font-family: $base-ff;
        font-size: rem(14);
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        letter-spacing: rem(-0.42);
      }

      img{
        width: rem(22);
        height: rem(18);
        cursor: pointer;
      }
    }

    .agree_div{
      display: flex;
      align-items: flex-start;
      gap: rem(13);
      align-self: stretch;

      .checkbox{
        width: rem(16);
        height: rem(16);

      }

      .agree{
        color: #000;
        font-family: $base-ff;
        font-size: rem(14);
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        letter-spacing: rem(-0.42);
        width: rem(322);
      }
    }

    .robot_div{
      width: rem(298);
      height: rem(71);
    }

    .link_div{
      align-self: stretch;

      a{
        color: #004DFF;
        font-family: $base-ff;
        font-size: rem(14);
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        letter-spacing: rem(-0.42);
      }
    }

    .button_create{
      display: flex;
      width: rem(356);
      height: rem(46);
      padding: rem(20);
      justify-content: center;
      align-items: center;
      gap: rem(10);
      border-radius: rem(8);
      background: var(--Linear, linear-gradient(86deg, #004DFF 21.33%, #A3BFFF 149.74%));
      color: #FFF;
      font-family: $base-ff;
      font-size: rem(16);
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 19.2px */
      letter-spacing: rem(-0.48);
    }
  }
}