.frontpage{
  overflow-x: hidden;
}

@import "./components/hero";
@import "./components/models";
@import "components/reviews";
@import "components/calculator";
@import "components/advantages";
@import "components/piramida";
@import "components/three";
@import "components/table";
@import "components/message";
@import "components/faq";
@import "components/footer";
@import "components/phone";