.profile_main{
  display: flex;
  justify-content: center;
  padding-top: rem(96);
  align-items: start;
  padding-left: rem(20);
  padding-right: rem(20);
  gap: rem(20);


  .profile_left_part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;

    .profile_left_part_main{
      display: flex;
      flex-direction: column;

      .profile_menu_div{
        display: flex;
        width: rem(262);
        padding: rem(10);
        flex-direction: column;
        align-items: flex-start;
        gap: rem(2);
        border-radius: rem(16);
        background: #FFF;

        .profile_menu_models{
          display: flex;
          padding: rem(15);
          align-items: center;
          gap: rem(21);
          align-self: stretch;
          border-radius: rem(08);
          color: #000;
          font-family: $base-ff;
          font-size: rem(20);
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 24px */
          letter-spacing: rem(-0.6);
        }

        .profile_menu_sessions{
          display: flex;
          padding: rem(15);
          align-items: center;
          gap: rem(18);
          align-self: stretch;
          border-radius: rem(8);
          color: #000;
          font-family: $base-ff;
          font-size: rem(20);
          font-style: normal;
          font-weight: 300;
          line-height: 120%; /* 24px */
          letter-spacing: rem(-0.6);
        }

        .profile_menu_accounts{
          display: flex;
          padding: rem(15);
          align-items: center;
          gap: rem(19);
          align-self: stretch;
          color: #000;
          font-family: $base-ff;
          font-size: rem(20);
          font-style: normal;
          font-weight: 300;
          line-height: 120%; /* 24px */
          letter-spacing: rem(-0.6);
        }
      }
      .profile_service_payment{
        margin-top: rem(22);
        display: flex;
        width: rem(262);
        padding: rem(22);
        flex-direction: column;
        align-items: flex-start;
        gap: rem(22);
        border-radius: rem(16);
        background: #FFF;

        &_text{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: rem(12);
          align-self: stretch;

          &_title{
            color: var(--Black, #000);
            font-family: $base-ff;
            font-size: rem(18);
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 21.6px */
            letter-spacing: rem(-0.54);
          }

          &_description{
            color: var(--Black, #000);
            font-family: $base-ff;
            font-size: rem(14);
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 16.8px */
            letter-spacing: rem(-0.42);
          }
        }

        &_button{
          display: flex;
          height: rem(36);
          padding: rem(08) rem(20) rem(09) rem(20);
          justify-content: center;
          align-items: center;
          gap: rem(10);
          align-self: stretch;
          border-radius: rem(8);
          background: var(--2, linear-gradient(86deg, #004DFF 21.33%, #A3BFFF 149.74%));
          color: #FFF;
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 19.2px */
          letter-spacing: rem(-0.48);
        }
      }
    }

    .support_div{
      .support{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(16);

        .support_title{
          color: #000;
          text-align: center;
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 19.2px */
        }

        .support_tg_div{
          gap: rem(8);
          display: flex;
          //justify-content: space-between;

          .support_tg_img{
          }

          .support_tg{
            color: #000;
            text-align: center;
            font-family: $base-ff;
            font-size: rem(18);
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 21.6px */
            letter-spacing: rem(-0.54);
          }
        }
      }
    }
  }


}