.profile_main{
  display: flex;
  justify-content: center;
  padding-top: rem(96);
  align-items: start;
  padding-left: rem(20);
  padding-right: rem(20);
  gap: rem(20);


  .profile_left_part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;

    .profile_left_part_main{
      display: flex;
      flex-direction: column;

      .profile_menu_div{
        display: flex;
        width: rem(262);
        padding: rem(10);
        flex-direction: column;
        align-items: flex-start;
        gap: rem(2);
        border-radius: rem(16);
        background: #FFF;

        .profile_menu_models{
          display: flex;
          padding: rem(15);
          align-items: center;
          gap: rem(21);
          align-self: stretch;
          border-radius: rem(08);
          color: #000;
          font-family: $base-ff;
          font-size: rem(20);
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 24px */
          letter-spacing: rem(-0.6);
        }

        .profile_menu_sessions{
          display: flex;
          padding: rem(15);
          align-items: center;
          gap: rem(18);
          align-self: stretch;
          border-radius: rem(8);
          color: #000;
          font-family: $base-ff;
          font-size: rem(20);
          font-style: normal;
          font-weight: 300;
          line-height: 120%; /* 24px */
          letter-spacing: rem(-0.6);
        }

        .profile_menu_accounts{
          display: flex;
          padding: rem(15);
          align-items: center;
          gap: rem(19);
          align-self: stretch;
          color: #000;
          font-family: $base-ff;
          font-size: rem(20);
          font-style: normal;
          font-weight: 300;
          line-height: 120%; /* 24px */
          letter-spacing: rem(-0.6);
        }
      }
      .profile_service_payment{
        margin-top: rem(22);
        display: flex;
        width: rem(262);
        padding: rem(22);
        flex-direction: column;
        align-items: flex-start;
        gap: rem(22);
        border-radius: rem(16);
        background: #FFF;

        &_text{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: rem(12);
          align-self: stretch;

          &_title{
            color: var(--Black, #000);
            font-family: $base-ff;
            font-size: rem(18);
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 21.6px */
            letter-spacing: rem(-0.54);
          }

          &_description{
            color: var(--Black, #000);
            font-family: $base-ff;
            font-size: rem(14);
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 16.8px */
            letter-spacing: rem(-0.42);
          }
        }

        &_button{
          display: flex;
          height: rem(36);
          padding: rem(08) rem(20) rem(09) rem(20);
          justify-content: center;
          align-items: center;
          gap: rem(10);
          align-self: stretch;
          border-radius: rem(8);
          background: var(--2, linear-gradient(86deg, #004DFF 21.33%, #A3BFFF 149.74%));
          color: #FFF;
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 19.2px */
          letter-spacing: rem(-0.48);
        }
      }
    }

    .support_div{
      .support{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(16);

        .support_title{
          color: #000;
          text-align: center;
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 19.2px */
        }

        .support_tg_div{
          gap: rem(8);
          display: flex;
          //justify-content: space-between;

          .support_tg_img{
          }

          .support_tg{
            color: #000;
            text-align: center;
            font-family: $base-ff;
            font-size: rem(18);
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 21.6px */
            letter-spacing: rem(-0.54);
          }
        }
      }
    }
  }

  .profile_right_part{
    padding-top: rem(14);
    width: rem(1106);

    &_title{
      color: #000;
      font-family: $base-ff;
      font-size: rem(24);
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 28.8px */
      padding-bottom: rem(22);
    }

    &_password_change{
      width: rem(1106);
      height: rem(158);
      border-radius: rem(16);
      background: #FFF;
      display: flex;
      justify-content: space-between;
      padding: rem(32) rem(22) rem(22) rem(22);
      gap: rem(38);


      .password_change_div{
        display: flex;
        flex-direction: column;
        gap: rem(10);


        .password_change_title{
          color: var(--Black, #000);
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 19.2px */
          letter-spacing: rem(-0.48);
        }

        .password_change{
          width: rem(512);
          height: rem(46);
          border-radius: rem(8);
          background: #F7F8FA;
          color: var(--Black, #000);
          font-family: $base-ff;
          font-size: rem(14);
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 16.8px */
          letter-spacing: rem(-0.42);
          //padding-top: 1.5rem;
          //padding-bottom: 1.4rem;
          padding-left: rem(22);
          display: flex;
          align-items: center;
        }

        .button_change_password{
          color: var(--Black, #000);
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 19.2px */
          letter-spacing: rem(-0.48);
          display: flex;
          justify-content: end;
        }
      }
    }

    &_tutorial{

      .tutorial_cards_head{
        display: flex;
        justify-content: space-between;
        padding-top: rem(37);
        padding-bottom: rem(18);
        width: rem(1106);

        &_title{
          color: var(--Black, #000);
          font-family: $base-ff;
          font-size: rem(24);
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 28.8px */
        }

        .button_hide{
          color: var(--Black, #000);
          text-align: right;
          font-family: $base-ff;
          font-size: rem(16);
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 19.2px */
          letter-spacing: rem(-0.48);
          margin-right: rem(22);
        }
      }

      .tutorial_cards{
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        gap: rem(20);
        width: 100%;

        .tutorial_card{
          display: flex;
          width: rem(371);
          padding: rem(32) rem(22);
          flex-direction: column;
          align-items: flex-start;
          gap: rem(32);
          justify-content: space-between;
          border-radius: rem(16);
          background: #FFF;

          .tutorial_card_main{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: rem(22);
            align-self: stretch;

            .tutorial_card_title_div{
              display: flex;
              justify-content: space-between;
              align-items: center;
              align-self: stretch;

              .tutorial_card_title{
                color: var(--Black, #000);
                font-family: $base-ff;
                font-size: rem(18);
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 21.6px */
                letter-spacing: rem(-0.54);
              }

              .tutorial_card_checkbox{
                width: rem(22);
                height: rem(22);
                fill: #004DFF;
              }
            }

            .tutorial_card_description{
              color: var(--Black, #000);
              font-family: $base-ff;
              font-size: rem(16);
              font-style: normal;
              font-weight: 400;
              line-height: 120%; /* 19.2px */
              letter-spacing: rem(-0.48);
            }
          }

          .verification_completed{
            display: flex;
            width: rem(327);
            height: rem(36);
            padding: rem(8) rem(20) rem(9) rem(20);
            justify-content: center;
            align-items: center;
            gap: rem(10);
            border-radius: rem(8);
            background: #F7F8FA;
            color: #004DFF;

            font-family: $base-ff;
            font-size: rem(16);
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 19.2px */
            letter-spacing: rem(-0.48);
          }

          .verification_pass{
            display: flex;
            height: rem(36);
            padding: rem(08) rem(20) rem(09) rem(20);
            justify-content: center;
            align-items: center;
            gap: rem(10);
            align-self: stretch;
            border-radius: rem(08);
            background: var(--2, linear-gradient(86deg, #004DFF 21.33%, #A3BFFF 149.74%));
            color: #FFF;
            font-family: $base-ff;
            font-size: rem(16);
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 19.2px */
            letter-spacing: rem(-0.48);
          }

          .connect_demo_account{
            display: flex;
            height: rem(36);
            padding: rem(08) 2rem rem(09) 2rem;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            align-self: stretch;
            border-radius: rem(08);
            background: var(--2, linear-gradient(86deg, #004DFF 21.33%, #A3BFFF 149.74%));
            color: #FFF;
            font-family: $base-ff;
            font-size: rem(16);
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 19.2px */
            letter-spacing: rem(-0.48);
          }



        }
      }
    }

    &_service_payment{

      &_title{
        color: var(--Black, #000);
        font-family: $base-ff;
        font-size: rem(24);
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 28.8px */
        padding-bottom: rem(25);
        padding-top: rem(32);
      }

      .service_payment_data_div{

        .service_payment_data_head{
          padding-top: rem(13);
          padding-bottom: rem(14);
          padding-left: rem(29);
          display: flex;
          align-items: center;
          width: rem(1106);
          height: rem(46);
          border-radius: rem(16);
          background: var(--2, linear-gradient(86deg, #004DFF 21.33%, #A3BFFF 149.74%));
          color: #FFF;
          font-family: $base-ff;
          font-size: rem(16);
          font-weight: 500;
          line-height: 120%; /* 19.2px */
          letter-spacing: rem(-0.48);

          &_date{
            margin-right: rem(112);
            width: rem(73);
          }

          &_sum{
            margin-right: rem(128);
          }

          &_details{
            margin-right: rem(355);
          }

          &_status{
          }
        }

        .service_payment_data{
          display: flex;
          padding: rem(22) rem(111) rem(22) rem(29);
          border-bottom: #C7C7C7 rem(01) solid;

          &_date{
            color: var(--Black, #000);
            font-family: $base-ff;
            font-size: rem(18);
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 21.6px */
            letter-spacing: rem(-0.54);
            margin-right: rem(100);
          }

          &_sum{
            color: var(--Black, #000);
            font-family: $base-ff;
            font-size: rem(18);
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 21.6px */
            letter-spacing: rem(-0.54);
            margin-right: rem(87);
          }

          .copy_payment_details{
            display: flex;
            gap: rem(30);
            margin-right: rem(58);

            .service_payment_data_payment_details{
              color: var(--Black, #000);
              font-family: $base-ff;
              font-size: rem(18);
              font-style: normal;
              font-weight: 600;
              line-height: 120%; /* 21.6px */
              letter-spacing: rem(-0.54);
            }
          }

          .service_payment_data_status_not_paid{
            color: #C80000;
            font-family: $base-ff;
            font-size: rem(18);
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 21.6px */
            letter-spacing: rem(-0.54);
          }

          .service_payment_data_status_paid{
            color: var(--Black, #000);
            font-family: $base-ff;
            font-size: rem(18);
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 21.6px */
            letter-spacing: rem(-0.54);
          }
        }
      }

    }
  }
}