@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Unbounded';
  src: url('../../fonts/Unbounded-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


$base-ff: 'Manrope', sans-serif;
$second-ff: 'Unbounded', sans-serif;
$third-ff: 'Montserrat', sans-serif;

:root{
  font-size: 0.833vw;
}

li{
  list-style: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  font-size: rem(20);
  font-family: $base-ff;
  box-sizing: border-box;
  background: #F7F8FA;

}

.frontpage{
  height: rem(10550);
}

::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

.telegram__logo{
  z-index: 800;
  position: fixed;
  bottom: rem(150);
  right: rem(120);
  width: rem(66);
  height: rem(66);
  cursor: pointer;
}

.line{
  width: 100%;
  height: rem(1);
  background: $black;
}

input{
  outline: none;
  border: none;
}

