.account{
  padding-top: rem(78);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - rem(78));

  .container_account{
    display: flex;
    width: rem(400);
    padding: rem(22);
    flex-direction: column;
    align-items: center;
    gap: rem(25);
    border-radius: rem(16);
    background: #FFF;

    .account_title{
      color: #000;
      text-align: center;
      font-family: $second-ff;
      font-size: rem(20);
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      align-self: stretch;
    }

    .account_subtitle_1{
      color: #000;
      text-align: center;
      font-family: $second-ff;
      font-size: rem(16);
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: rem(-0.48);
      align-self: stretch;
    }

    .account_created{
      display: flex;
      align-items: center;
      gap: rem(11);

      .setting{
      }

      .account_vataga_binance{
        color: #000;
        text-align: center;
        font-family: $second-ff;
        font-size: rem(16);
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
        letter-spacing: rem(-0.7);
      }
    }
  }
}