.menu_lk{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88vh;
  position: sticky;
  top: rem(110);

  .menu_block{
    display: flex;
    width: rem(262);
    padding: rem(10);
    flex-direction: column;
    align-items: flex-start;
    gap: rem(2);
    border-radius: rem(16);
    background: #FFF;

    .menu_item{
      display: flex;
      padding: rem(15);
      align-items: center;
      gap: rem(19);
      align-self: stretch;
      color: #000;
      font-family: $base-ff;
      font-size: rem(20);
      font-style: normal;
      font-weight: 300;
      line-height: 120%; /* 24px */
      letter-spacing: rem(-0.6);

      &.active{
        font-weight: 600;
        background: #D9E5FF;
        border-radius: rem(8);

      }
    }
  }

  .support_div{
    .support{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(16);

      .support_title{
        color: #000;
        text-align: center;
        font-family: $base-ff;
        font-size: rem(16);
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 19.2px */
      }

      .support_tg_div{
        gap: rem(08);
        display: flex;
        //justify-content: space-between;

        .support_tg_img{
        }

        .support_tg{
          color: #000;
          text-align: center;
          font-family: $base-ff;
          font-size: rem(18);
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 21.6px */
          letter-spacing: rem(-0.54);
        }
      }
    }
  }
}