.mail{
  padding-top: rem(78);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - rem(78));

  .container_mail{
    display: flex;
    width: rem(464);
    padding: rem(22);
    flex-direction: column;
    align-items: flex-start;
    gap: rem(22);
    border-radius: rem(16);
    background: #FFF;
    //margin-bottom: rem(497);

    .mail_title{
      color: #000;
      text-align: center;
      font-family: $base-ff;
      font-size: rem(20);
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 24px */
      align-self: stretch;
    }

    .mail_subtitle_1{
      align-self: stretch;
      color: #000;
      font-family: $base-ff;
      font-size: rem(16);
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: rem(-0.48);
    }

    .mail_subtitle_2{
      align-self: stretch;
      color: #000;
      font-family: $base-ff;
      font-size: rem(16);
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: rem(-0.48);
    }

    .mail_links{
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      .back{
        color: #004DFF;
        font-family: $base-ff;
        font-size: rem(14);
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 16.8px */
        letter-spacing: rem(-0.42);
        margin-right: rem(41);
      }

      .email_not_coming{
        display: flex;
        padding: rem(6) rem(10);
        justify-content: center;
        align-items: center;
        gap: rem(10);
        border-radius: rem(8);
        background: #F7F8FA;
        color: #000;
        font-family: $base-ff;
        font-size: rem(16);
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 19.2px */
        letter-spacing: rem(-0.48);
        margin-right: rem(10);
        width: rem(170);
        height: rem(31);
      }

      .resend{
        display: flex;
        padding: rem(6) rem(10);
        justify-content: center;
        align-items: center;
        gap: rem(10);
        border-radius: rem(8);
        background: #F7F8FA;
        color: #000;
        font-family: $base-ff;
        font-size: rem(16);
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 19.2px */
        letter-spacing: rem(-0.48);
        width: rem(160);
        height: rem(31);
      }
    }
  }
}